* {
  margin: 0;
  padding: 0;
}
body {
  /* 窗口高度 */
  height: 100vh;
  margin-left: 60px;
  /* 弹性盒子居中 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* 背景颜色 */
  background: linear-gradient(135deg, #4bc0c8, #c779d0, #feac5e);
}
.swipe {
  position: relative;
  width: 500px;
  height: 300px;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.swipe ul {
  padding: 0;
  width: calc(500px * 5);
  transition: 0.5s;
}
.swipe li {
  float: left;
  width: 500px;
  height: 300px;
  /* border: 1px solid red; */
  list-style: none;
  line-height: 300px;
  font-size: 50px;
}
.swipe label[for^="indicator"] {
  position: absolute;
  top: 270px;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
.flex {
  display: flex;
  margin-left: 60px;
  width: 600px;
  height: 300px;
  background-color: #fff;
  height: 60vh;
  width: 70%;
  max-width: 600px;
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
  color: #333;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.034em;
  font-family: "思源黑体";
  overflow-y: scroll;
  flex-direction: column;
}
.mg {
  text-indent: 2em;
}
.flex::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
.swipe label[for^="indicator1"] {
  left: 40%;
}
.swipe label[for^="indicator2"] {
  left: 44%;
}
.swipe label[for^="indicator3"] {
  left: 48%;
}
.swipe label[for^="indicator4"] {
  left: 52%;
}
.swipe label[for^="indicator5"] {
  left: 56%;
}
/* 选中指示器设置ul的margin-left */
#indicator1:checked ~ ul {
  margin-left: 0;
}
#indicator2:checked ~ ul {
  margin-left: -500px;
}
#indicator3:checked ~ ul {
  margin-left: -1000px;
}
#indicator4:checked ~ ul {
  margin-left: -1500px;
}
#indicator5:checked ~ ul {
  margin-left: -2000px;
}
/* 选中指示器的颜色label的color */
#indicator1:checked ~ label[for^="indicator1"] {
  background-color: #e6e9f0;
}
#indicator2:checked ~ label[for^="indicator2"] {
  background-color: #e6e9f0;
}
#indicator3:checked ~ label[for^="indicator3"] {
  background-color: #e6e9f0;
}
#indicator4:checked ~ label[for^="indicator4"] {
  background-color: #e6e9f0;
}
#indicator5:checked ~ label[for^="indicator5"] {
  background-color: #e6e9f0;
}
